@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

/*
 * Footer
 */
.footer {
    .icon {
        width: 1em;
        height: 1em;
        
        @include media-breakpoint-down(lg) {
            width: 1.65em;
            height: 1.65em;
        }
    }
}