@font-face {
    font-family: Neuzeit Grotesk Bold;
    src: url("./fonts/NeuzeitGrotesk-Bold.woff2") format("woff2"),
        url("./fonts/NeuzeitGrotesk-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: SofiaSans Bold;
    src: url("./fonts/SofiaSans-Bold.woff2") format("woff2"),
        url("./fonts/SofiaSans-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Fira Code;
    src: url("./fonts/FiraCode-Regular.woff2") format("woff2"),
        url("./fonts/FiraCode-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Biotif;
    src: url("./fonts/Biotif-Bold.woff2") format("woff2"),
        url("./fonts/Biotif-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: Biotif;
    src: url("./fonts/Biotif-Book.woff2") format("woff2"),
        url("./fonts/Biotif-Book.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Biotif;
    src: url("./fonts/Biotif-Regular.woff2") format("woff2"),
        url("./fonts/Biotif-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Biotif;
    src: url("./fonts/Biotif-RegularItalic.woff2") format("woff2"),
        url("./fonts/Biotif-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic
}